@page "/team/main-team"

<h3>MainTeam</h3>


<Container Class="centered pitch-container" Style="width: 800px;">
    <Row>
        <Column ColumnSize="ColumnSize.Is1">AiG</Column>
        <Column ColumnSize="ColumnSize.Is2">AC</Column>
        <Column ColumnSize="ColumnSize.Is1">AiD</Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is1"></Column>
        <Column ColumnSize="ColumnSize.Is2">MO</Column>
        <Column ColumnSize="ColumnSize.Is1"></Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is1">MG</Column>
        <Column ColumnSize="ColumnSize.Is2">MC</Column>
        <Column ColumnSize="ColumnSize.Is1">MD</Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is1"></Column>
        <Column ColumnSize="ColumnSize.Is2">MD</Column>
        <Column ColumnSize="ColumnSize.Is1"></Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is1">DG</Column>
        <Column ColumnSize="ColumnSize.Is2">DC</Column>
        <Column ColumnSize="ColumnSize.Is1">DD</Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is1"></Column>
        <Column ColumnSize="ColumnSize.Is2">G</Column>
        <Column ColumnSize="ColumnSize.Is1"></Column>
    </Row>
</Container>

@code {

}
