@page "/team/players"
@using Footballista.Wasm.Shared.Data.Players
@using Footballista.Wasm.Client.ClientServices
@using Footballista.Wasm.Client.Components._Shared
@using Footballista.Wasm.Client.Components.TableBased
@using Footballista.Wasm.Client.Components.PlayerRelated
@inject IPlayersClientService PlayersClientService

<h1>Team players</h1>

<p>These are the players available in your team.</p>

@if (players == null)
{
	<Loader />
}
else if (!players.Any())
{
	<p><em>There are no players to display...</em></p>
}
else
{
	<Row>
		<Column ColumnSize="ColumnSize.Is7">
			<PlayersTableComponent Players="players" OnSelectionChanged="OnPlayerSelect"></PlayersTableComponent>

		</Column>
		<Column ColumnSize="ColumnSize.Is5">
			@if (_selectedPlayer is null)
			{
				<p>Select a player to view their details.</p>
			}
			else
			{
				<ViewPlayerComponent Player="_selectedPlayer" />
			}
		</Column>
	</Row>
}

@code {
	private List<Player> players;
	private Player _selectedPlayer;

	protected override async Task OnInitializedAsync()
	{
		players = await PlayersClientService.GetGeneratedPlayersAsync(20);
	}

	private void OnPlayerSelect(Player selectedPlayer)
	{
		if (_selectedPlayer == null || (_selectedPlayer.Id != selectedPlayer.Id))
		{
			_selectedPlayer = selectedPlayer;
		}
	}
}
