@import '../../Styles/Theme.scss';

.event {
	background-color: lighten($color-primary, 10%);
	display: block;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid darken($color-primary, 10%);
	margin-bottom: 10px;

	.event-date {
		text-shadow: 1px 1px 3px lighten($text-color, 80%);
	}

	.event-title {
	}

	.event-description {
	}
}
