@page "/team/players"
@using Blazorise.DataGrid
@using Footballista.Wasm.Shared.Data.Players
@using Footballista.Wasm.Client.ClientServices
@using Footballista.Wasm.Client.Components
@using Footballista.Wasm.Client.Components.TableBased
@inject IPlayersClientService PlayersClientService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (players == null)
{
	<Loader></Loader>
}
else if (!players.Any())
{
	<p><em>There are no players to display...</em></p>
}
else
{
	<PlayersTableComponent Players="players"></PlayersTableComponent>
}

@code {
	private List<Player> players;
	private Player selectedPlayer;

	protected override async Task OnInitializedAsync()
	{
		players = await PlayersClientService.GetGeneratedPlayersAsync(20);
	}
}
