@page "/"
@using Footballista.Wasm.Client.Pages.Career

<Container Fluid="true">
	<h1>Welcome to Footballista</h1>
	<p><strong>Footballista</strong> is a game where you're in the flesh of a football manager.</p>
	<p>Manage your team, recruit new players, make yougsters become professional players, help your team be the best.</p>
</Container>
