@page "/"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> Loc;

<div id="app">
	<Container Fluid="true">
		<h1>@Loc["FootballistaWelcomeTitle"]</h1>
		<p>@Loc["FootballistaWelcomeLine1"]</p>
		<p>@Loc["FootballistaWelcomeLine2"]</p>
	</Container>
</div>