@page "/"
@using Footballista.Wasm.Client.Pages.Career 

<h1>Welcome to Footballista</h1>
<p><strong>Footballista</strong> is a game where you're in the flesh of a football manager.</p>
<p>Manage your team, recruit new players, make yougsters become professional players, help your team be the best.</p>

@*<Container Fluid="true">

	<Alert Color="Color.Primary" Visible="true">
		Suspendisse vel quam malesuada, aliquet sem sit amet, fringilla elit. Morbi tempor tincidunt tempor. Etiam id turpis viverra, vulputate sapien nec, varius sem. Curabitur ullamcorper fringilla eleifend. In ut eros hendrerit est consequat posuere et at velit.
	</Alert>

</Container>*@

@*<Home></Home>*@




@*<Card>
		<CardImage Source="/img/9.jpg" Alt="Placeholder image">
		</CardImage>
		<CardBody>
			<CardTitle Size="5">Card title</CardTitle>
			<CardText>
				Some quick example text to build on the card title and make up the bulk of the card's content.
			</CardText>
			<Button Color="Color.Primary">Button</Button>
		</CardBody>
	</Card>

	<Card>
		<CardImage Source="/img/9.jpg" Alt="Placeholder image">
		</CardImage>
		<CardBody>
			<CardTitle Size="5">Card title</CardTitle>
			<CardText>
				Some quick example text to build on the card title and make up the bulk of the card's content.
			</CardText>
			<Button Color="Color.Primary">Button</Button>
		</CardBody>
	</Card>*@
