@using  System.Globalization
@using Blazored.LocalStorage;
@using Footballista.Wasm.Client.LocalStorage;

@inject NavigationManager Nav
@inject ISyncLocalStorageService LocalStorageService

<strong>Culture:</strong>
<select @bind="Culture">
	@foreach (var culture in supportedCultures)
	{
		<option value="@culture">@culture.TwoLetterISOLanguageName</option>
	}
</select>

@code
{
	CultureInfo[] supportedCultures = new[]
	{
		new CultureInfo("en-US"),
		new CultureInfo("fr-FR"),
	};

	CultureInfo Culture
	{
		get => CultureInfo.CurrentCulture;
		set
		{
			if (CultureInfo.CurrentCulture != value)
			{
				LocalStorageService.SetItem(LocalStorageKeys.CurrentCulture, value.Name);
				Nav.NavigateTo(Nav.Uri, forceLoad: true);
			}
		}
	}
}