@using System.Globalization;
@using Footballista.Wasm.Client.Domain.ClientServices;

@inject ICurrentCultureService CurrentCultureService
@inject NavigationManager Nav

<select @bind="Culture">
	@foreach (var culture in supportedCultures)
	{
		<option value="@culture">@culture.TwoLetterISOLanguageName</option>
	}
</select>

@code
{
	CultureInfo[] supportedCultures = new[]
	{
		new CultureInfo("en-US"),
		new CultureInfo("fr-FR"),
	};

	CultureInfo Culture
	{
		get => CultureInfo.CurrentCulture;
		set
		{
			if (CultureInfo.CurrentCulture != value)
			{
				CurrentCultureService.SetCurrentCulture(value.Name);
				Nav.NavigateTo(Nav.Uri, forceLoad: true);
			}
		}
	}
}