<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light">
	<BarBrand>Footballista</BarBrand>
	<BarToggler />
	<BarMenu>
		<BarStart>
			<BarItem>
				<BarLink To="#home">Home</BarLink>
			</BarItem>
			<BarItem>
				<BarLink To="#docs">Documentation</BarLink>
			</BarItem>
		</BarStart>
		<BarEnd>
			<BarItem>
				<Button Color="Color.Primary">Sign up</Button>
				<Button Color="Color.Secondary">Log in</Button>
				<CultureSelector />
			</BarItem>
		</BarEnd>
	</BarMenu>
</Bar>

@code {

}
