@inherits LayoutComponentBase

<Layout Sider="true">
	<LayoutSider>
		<LayoutSiderContent>
			<NavMenu />
		</LayoutSiderContent>
	</LayoutSider>
	<Layout>
		<LayoutHeader Fixed="true">
			<Header />
		</LayoutHeader>
		<LayoutContent>
			<div class="main-content">@Body</div>
		</LayoutContent>
		<LayoutFooter>
			<Footer />
		</LayoutFooter>
	</Layout>
</Layout>
