@page "/career/calendar";
@using Footballista.Wasm.Client.Components.CalendarBased;
@using Itenso.TimePeriod;
@inject Footballista.Wasm.Client.ClientServices.CareerDateService careerDateService;
@inject Microsoft.Extensions.Localization.IStringLocalizer<Calendar> Loc;

<p>@Loc["CurrentDate"]&nbsp;@careerDateService.GetDisplayFullDate(CurrentDate)</p>

<CalendarComponent CalendarViewType="CalendarViewType.MonthlyView" DisplayDate="CurrentDate" />

@code {
	Date CurrentDate = new Date(2020, 6, 22);
}
