@page "/career/calendar";
@using Footballista.Wasm.Client.Components.CalendarBased;
@using Itenso.TimePeriod; 

<h3>Calendar</h3>

<CalendarComponent CalendarViewType="CalendarViewType.MonthlyView" DisplayDate="new Date(2020, 6)" />

@code {

}
