@page "/career/calendar"
@using Footballista.Wasm.Client.Components.CalendarBased;
@using Itenso.TimePeriod;
@using Footballista.Wasm.Client.ClientServices;
@using Footballista.Wasm.Shared.Data.Careers;
@using Footballista.Wasm.Shared.Data.Calendars;

@inject Footballista.Wasm.Client.ClientServices.CareerDateService careerDateService
@inject Microsoft.Extensions.Localization.IStringLocalizer<Calendar> Loc
@inject GameService _gameService
@inject CalendarService _calendarService

<p>@Loc["CurrentDate"]&nbsp;@careerDateService.GetDisplayFullDate(CurrentDate)</p>

<CalendarComponent CalendarViewType="CalendarViewType.MonthlyView" DisplayDate="CurrentDate" Events="CalendarEvents" />

@code {
	public Date CurrentDate { get; set; }
	public List<Event> CalendarEvents { get; set; }

	protected override void OnInitialized()
	{
		_gameService.Load();

		CurrentDate = _gameService.CurrentGame.CurrentDate;

		CalendarEvents = _calendarService.GetEventsForDate(CurrentDate);
	}
}
