@page "/career/home"
<h1>Career</h1>
<h3>Home</h3>

<!-- Row 1 -->
<Row>
	<!-- Column 1 -->
	<Column ColumnSize="ColumnSize.Is4">
		<Card>
			<CardImage Source="/img/MUFC96-97.jpg" Alt="Placeholder image" >
			</CardImage>
			<CardBody>
				<CardTitle Size="2">Team</CardTitle>
				<CardText>
					<p>Manage your team here.</p>
				</CardText>
				<Button Color="Color.Primary">Button</Button>
			</CardBody>
		</Card>
	</Column>
	<!-- Column 2 -->
	<Column ColumnSize="ColumnSize.Is4">
		<Card Background="Background.Light">
			<CardImage Source="/img/recruitment.jpg" Alt="Placeholder image">
			</CardImage>
			<CardBody>
				<CardTitle Size="2">Recruitment</CardTitle>
				<CardText>
					<p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</CardText>
				<Button Color="Color.Primary">Button</Button>
			</CardBody>
		</Card>
	</Column>
	<!-- Column 3 -->
	<Column ColumnSize="ColumnSize.Is4">
		<Card Background="Background.Light">
			<CardImage Source="/img/training.jpg" Alt="Placeholder image">
			</CardImage>
			<CardBody>
				<CardTitle Size="2">Training</CardTitle>
				<CardText>
					<p>Manage your team trainings here.</p>
				</CardText>
				<Button Color="Color.Primary">Button</Button>
			</CardBody>
		</Card>
	</Column>
</Row>

<!-- Row 2 -->
<Row>
	<!-- Column 1 -->
	<Column ColumnSize="ColumnSize.Is4">
		<Card>
			<CardImage Source="/img/club.png" Alt="Placeholder image">
			</CardImage>
			<CardBody>
				<CardTitle Size="2">Club</CardTitle>
				<CardText>
					<p>Manage your team here.</p>
				</CardText>
				<Button Color="Color.Primary">Button</Button>
			</CardBody>
		</Card>
	</Column>
	<!-- Column 2 -->
	<Column ColumnSize="ColumnSize.Is4">
		<Card Background="Background.Light">
			<CardImage Source="/img/youngsters.png" Alt="Placeholder image">
			</CardImage>
			<CardBody>
				<CardTitle Size="2">Youngsters</CardTitle>
				<CardText>
					<p>Manage your young players.</p>
				</CardText>
				<Button Color="Color.Primary">Button</Button>
			</CardBody>
		</Card>
	</Column>
	<!-- Column 3 -->
	<Column ColumnSize="ColumnSize.Is4">
		<Card Background="Background.Light">
			<CardImage Source="/img/transfers.png" Alt="Placeholder image">
			</CardImage>
			<CardBody>
				<CardTitle Size="2">Transfers</CardTitle>
				<CardText>
					<p>Manage your team trainings here.</p>
				</CardText>
				<Button Color="Color.Primary">Button</Button>
			</CardBody>
		</Card>
	</Column>
</Row>

@code {

}
