.rating-highest {
	background-color: forestgreen;
}
.rating-higher {
	background-color: darkseagreen;
}

.rating-high {
	background-color: palegreen;
}

.rating-mid-high {
	background-color: lightyellow;
}

.rating-mid {
	background-color: lightpink;
}

.rating-mid-low {
	background-color: tomato;
}

.rating-low {
	background-color: brown;
}

.rating-lower {
	background-color: darkred;
}

.rating-lowest {
	background-color: firebrick;
}