@import '../Components/Loader.scss';
@import '../Components/RatingRelated/FeatureRatingComponent.scss';
@import '../Components/RatingRelated/FeatureCollectionComponent.scss';

body {
	font-family: 'Play', sans-serif;
}

.main-content {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
}