$font-primary: Play, sans-serif;
$text-color: #262626;
$text-color-clear: #dcdcdc;
$text-color-dark: #262626;

$color-primary: #fa5e0f;
$color-secondary: #fe8c37;


/** rating colors **/
$rating-highest: forestgreen;
$rating-higher: darkseagreen;
$rating-high: palegreen;
$rating-mid-high: lightyellow;
$rating-mid: lightpink;
$rating-mid-low: tomato;
$rating-low: brown;
$rating-lower: darkred;
$rating-lowest: firebrick;
