
.career-header {
	position: sticky;
	background: firebrick;
}

.career-header ul {
	list-style-type: none;
}

.career-header ul li {
	display: inline-block;
}
.career-header ul li.title {
	font-weight: bold;
}

.career-header span {
	display: inline-block;
	font-size: 0.8rem;
}

.career-header .career-header-left {
	float: left;
	display: inline-block;
}

.career-header .career-header-right {
	text-align: right;
}
